{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Smörgåstårta</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />	
		<link rel="stylesheet" href="{% static 'sweden/css/style-xlarge.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/skel.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/normalize.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/ion.rangeSlider.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/ion.rangeSlider.skinFlat.css' %}" />
		<link rel="stylesheet" href="{% static 'sweden/css/font-awesome.min.css' %}"/>
		<link rel="stylesheet" href="{% static 'sweden/css/font-awesome.css' %}"/>
	</head>
	<body  {% block body_class %}{% endblock %}>
	<!-- Header -->
		<header id="header">
			<h1><a href="{% url 'index' %}">Smörgåstårta</a></h1>
			<nav id="nav">
				<ul>
					{% block header_nav %}{% endblock %}
				</ul>
			</nav>
		</header>

	{% block contents %}
	<!-- Main -->
		<section id="main" class="wrapper">
			<div class="container">

				<header class="major">
					{% block main_major %}
					{% endblock %}
				</header>

				{% block main_contents %}{% endblock %}

			</div>
		</section>
	{% endblock %}

	<!-- Footer -->
		<footer id="footer">
			<div class="container">
				{% block footer_links %}{% endblock %}
				<div class="row">
					{% block footer_row %}
						<div class="8u 12u$(medium)">
							<ul class="copyright">
								<li>&copy; SWEDEN. All rights reserved.</li>
							</ul>
						</div>
					{% endblock %}
				</div>
			</div>
		</footer>
	</body>
	<script src="{% static 'sweden/js/jquery.min.js' %}"></script>
	<script src="{% static 'sweden/js/skel.min.js' %}"></script>
	<script src="{% static 'sweden/js/skel-layers.min.js' %}"></script>
	<script src="{% static 'sweden/js/init.js' %}"></script>
	<script src="{% static 'sweden/js/ion.rangeSlider.min.js' %}"></script>
	<script src="{% static 'sweden/js/application.js' %}"></script>


	<script>

	    $(function () {

	        $("#hw11 input[type=text]").ionRangeSlider({
			    type: "single",
			    min: 0,
			    max: 100,
			    from: 0,
			    keyboard: true
			});

	        $("#sleep input[type=text]").ionRangeSlider({
			    type: "single",
			    min: 0,
			    max: 3,
			    from: 0,
			    keyboard: true
			});

	    });
	</script>
</html>