{% extends "base.html" %}

{% block header_nav %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li><a href="{% url 'quiz' %}">Assess Now</a></li>
	<li><a href="{% url 'profile' user.username %}">Your Health</a></li>
	<li><a href="{% url 'logout' %}" class="button special">Logout</a></li>
{% endblock %}

{% block main_major %}
	<h2>History</h2>
	<p>Check your previous assessments below</p>
{% endblock %}
		
{% block main_contents %}
	
	<div class="table-wrapper" id="questionnaire">
		<table>
			<thead>
				<tr>
					<th>Date</th>
					<th>SRH Assessment</th>
					<th>Sleep Problem Assessment</th>
					<th>Sickness Absence Risk Assessment</th>
				</tr>
			</thead>
			<tbody>
				{% for i in user_ass%}
				<tr>
					<td>
						{{ i.date }}
					</td>
					<td>
						{% if i.ass.srh %}
							High SRH
						{% else %}
							Low SRH
						{% endif %}
					</td>
					<td>
						{% if i.ass.sleep %}
							With Sleep Problem
						{% else %}
							Without Sleep Problem
						{% endif %}
					</td>
					<td>
						{% if i.ass.sick_leave %}
							High Risk
						{% else %}
							Low Risk
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}


{% block footer_links %}
	
	<div class="row">
		<section class="3u 6u(medium) 12u$(small)" style="text-align: center">
			<h3>Did You Know?</h3>
			<ul class="unstyled">
				<li><a href="#">Smörgåstårta</a></li>
				<lii><p>
					 (English: "sandwich-cake" or "sandwich gateau") is a Scandinavian cuisine dish that is popular in Sweden. This savoury cake is compositionally similar to a sandwich, but it has such a large amount of filling that it more resembles a layered cream cake with garnished top. Smörgåstårta is served cold and sliced like a dessert cake.	
				</p></li>
			</ul>
		</section>
		<section class="3u 6u(medium) 12u$(small)" style="text-align: center">
			<h3>News</h3>
			<ul class="unstyled">
				<li><a href="#">News</a></li>
				<li><a href="#">Nutrition</a></li>
				<li><a href="#">Healthcare</a></li>
				<li><a href="#">Science</a></li>
				<li><a href="#">R & D</a></li>
			</ul>
		</section>
		<section class="3u 6u$(medium) 12u$(small)" style="text-align: center">
			<h3>My Health</h3>
			<ul class="unstyled">
				<li><a href="#">Calendar</a></li>
				<li><a href="#">Forms</a></li>
				<li><a href="#">Statistics</a></li>
				<li><a href="#">Reminders</a></li>
			</ul>
		</section>
		<section class="3u$ 6u$(medium) 12u$(small)" style="text-align: center">
			<h3>About Smörgåstårta</h3>
			<ul class="unstyled">
				<li><a href="#">Smörgåstårta Facts</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</section>
	</div>
{% endblock %}

{% block footer_row %}
	<div class="8u 12u$(medium)">
		<ul class="copyright">
			<li>&copy; SWEDEN. All rights reserved.</li>
		</ul>
	</div>
	<div class="4u$ 12u$(medium)">
		<ul class="icons">
			<li>
				<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
			</li>
			<li>
				<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
			</li>
			<li>
				<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
			</li>
		</ul>
	</div>
{% endblock %}		
