{% extends "base.html" %}

{% block header_nav %}
	<li><a href="{% url 'index' %}">Home</a></li>
	<li><a href="{% url 'quiz' %}">Assess Now</a></li>
	<li><a href="{% url 'profile' user.username %}">Your Health</a></li>
	<li><a href="{% url 'logout' %}" class="button special">Logout</a></li>
{% endblock %}

{% block main_major %}
	{% if not message %}
		<h2>Health Assessment</h2>
		<p>Answer the questions as precisely as possible</p>
	{% else %}
		<h2>You've already answered today</h2>
		<p>Please come back tomorrow</p>
		<i class="icon big rounded color10  fa-check-circle"></i>
	{% endif %}
{% endblock %}
		
{% block main_contents %}
	{% if not message %}
	<div class="table-wrapper" id="questionnaire">
		<form id="hwqForm" action="assess" method="POST">
			{% csrf_token %}
			<table id="hw11">
				<thead>
					<tr>
						<th>Health Watch Questions</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>How do you feel right now?</td>
						<td>
							<input type="text" id="question_1" name="srh" value="" />
						</td>
					</tr>
					<tr>
						<td>How did you sleep last night?</td>
						<td>
							<input type="text" id="question_2" name="sleep" value="" />
						</td>
					</tr>
					<tr>
						<td>How is your ability to conecntrate right now?</td>
						<td>
							<input type="text" id="question_3" name="concentration" value="" />
						</td>
					</tr>
					<tr>
						<td>How stressed do you feel right now?</td>
						<td>
							<input type="text" id="question_4" name="stress" value="" />
						</td>
					</tr>
					<tr>
						<td>What is your energy level right now?</td>
						<td>
							<input type="text" id="question_5" name="energy" value="" />
						</td>
					</tr>
					<tr>
						<td>Do you have control over your life right now?</td>
						<td>
							<input type="text" id="question_6" name="control" value="" />
						</td>
					</tr>
					<tr>
						<td>How satisfied are you with your social life right now?</td>
						<td>
							<input type="text" id="question_7" name="social" value="" />
						</td>
					</tr>
					<tr>
						<td>How efficient are you at work right now?</td>
						<td>
							<input type="text" id="question_8" name="efficiency" value="" />
						</td>
					</tr>
					<tr>
						<td>How is your job satisfaction right now?</td>
						<td>
							<input type="text" id="question_9" name="work_joy" value="" />
						</td>
					</tr>
					<tr>
						<td>How high is your work load right now?</td>
						<td>
							<input type="text" id="question_10" name="work_load" value="" />
						</td>
					</tr>
					<tr>
						<td>How is the job atmosphere right now?</td>
						<td>
							<input type="text" id="question_11" name="work_atm" value="" />
						</td>
					</tr>
				</tbody>
			</table>


			<table id="sleep">
				<thead>
					<tr>
						<th>Sleep-related Questions</th>
					</tr>
					<tr>
						<td>Scale:</td>
						<td class="sleep_scale">
							<span style="margin-right:6em">0 = Never</span>
							<span style="margin-right:6em">1 = Seldom</span>
							<span style="margin-right:6em">2 = Often</span>
							<span>3 = Always</span>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Do you have difficulties falling asleep?</td>
						<td>
							<input type="text" id="sleep_1" name="sleep1" value="" />
						</td>
					</tr>
					<tr>
						<td>Do you wake up several times at night and find it <br>difficult to fall asleep again?</td>
						<td>
							<input type="text" id="sleep_2" name="sleep2" value="" />
						</td>
					</tr>
					<tr>
						<td>Do you have trouble sleeping because thoughts <br>about your work keep you awake?</td>
						<td>
							<input type="text" id="sleep_3" name="sleep3" value="" />
						</td>
					</tr><tr>
						<td>Do you feel rested and recovered after <br> a night sleep?</td>
						<td>
							<input type="text" id="sleep_4" name="sleep4" value="" />
						</td>
					</tr><tr>
						<td>Do you feel rested and recovered when <br>you start working again after a few days of vacation?</td>
						<td>
							<input type="text" id="sleep_5" name="sleep5" value="" />
						</td>
					</tr>
				</tbody>
			</table>
			<input class="button alt" type='submit'/>
			<!-- <a href="#" class="button alt">Submit</a> -->
		</form>
	</div>		
	{% endif %}
	
{% endblock %}


{% block footer_links %}
	
	<div class="row">
		<section class="3u 6u(medium) 12u$(small)" style="text-align: center">
			<h3>Did You Know?</h3>
			<ul class="unstyled">
				<li><a href="#">Smörgåstårta</a></li>
				<lii><p>
					 (English: "sandwich-cake" or "sandwich gateau") is a Scandinavian cuisine dish that is popular in Sweden. This savoury cake is compositionally similar to a sandwich, but it has such a large amount of filling that it more resembles a layered cream cake with garnished top. Smörgåstårta is served cold and sliced like a dessert cake.	
				</p></li>
			</ul>
		</section>
		<section class="3u 6u(medium) 12u$(small)" style="text-align: center">
			<h3>News</h3>
			<ul class="unstyled">
				<li><a href="#">News</a></li>
				<li><a href="#">Nutrition</a></li>
				<li><a href="#">Healthcare</a></li>
				<li><a href="#">Science</a></li>
				<li><a href="#">R & D</a></li>
			</ul>
		</section>
		<section class="3u 6u$(medium) 12u$(small)" style="text-align: center">
			<h3>My Health</h3>
			<ul class="unstyled">
				<li><a href="#">Calendar</a></li>
				<li><a href="#">Forms</a></li>
				<li><a href="#">Statistics</a></li>
				<li><a href="#">Reminders</a></li>
			</ul>
		</section>
		<section class="3u$ 6u$(medium) 12u$(small)" style="text-align: center">
			<h3>About Smörgåstårta</h3>
			<ul class="unstyled">
				<li><a href="#">Smörgåstårta Facts</a></li>
				<li><a href="#">Help</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</section>
	</div>
{% endblock %}

{% block footer_row %}
	<div class="8u 12u$(medium)">
		<ul class="copyright">
			<li>&copy; Sweden. All rights reserved.</li>
		</ul>
	</div>
	<div class="4u$ 12u$(medium)">
		<ul class="icons">
			<li>
				<a class="icon rounded fa-facebook"><span class="label">Facebook</span></a>
			</li>
			<li>
				<a class="icon rounded fa-twitter"><span class="label">Twitter</span></a>
			</li>
			<li>
				<a class="icon rounded fa-google-plus"><span class="label">Google+</span></a>
			</li>
			<li>
				<a class="icon rounded fa-linkedin"><span class="label">LinkedIn</span></a>
			</li>
		</ul>
	</div>
{% endblock %}		
