{% extends "base.html" %}

{% block header_nav %}
	<li><a href="{% url 'login' %}" class="button special">Login</a></li>
{% endblock %}

{% block main_major %}
	<h2>Sign Up</h2>
	<p>It's time for Smorgostorta to take care of you</p>
{% endblock %}

{% block main_contents %}
	<div class="container" style="width:500px">
		<form id="signup-form" method="POST">
			{% csrf_token %}	
			{{ form.as_p }}
			<div class="12u$" style="margin-top: 30px; text-align: center;">
				<ul class="actions">
					<li><input type="submit" value="Sign Up" class="special"/></li>
				</ul>
			</div>
		</form>
	</div>
{% endblock %}