{% extends "base.html" %}

{% block body_class %}
	class="landing"
{% endblock %}

{% block main_major %}
	<h2>Sign Up</h2>
	<p>It's time for Smorgostorta to take care of you</p>
{% endblock %}

{% block contents %}
	<section id="banner">
		<h2>Smorgostorta</h2>
		<p>Your personal health assessment application.</p>
		<ul class="actions">
			<li><a href="{% url 'login' %}" class="button big">Login Now</a></li>
			<li><a href="{% url 'signup' %}" class="button big special">Sign Up</a></li>
		</ul>
	</section>
	<!-- One -->
	<section id="one" class="wrapper style1 special">
		<div class="container">
			<header class="major">
				<h2>What is Smorgostorta?</h2>
				<p>Smorgostorta is an application that predicts three things.</p>
			</header>
			<div class="row 150%">
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color1 fa-cloud"></i>
						<h3>Self-Rated Health</h3>
						<p>People nowadays are prone to sickness and diseases due to the constant pressures they receive from their surroundings. Fortunately, there is an indicator within oneself which can tell if one is getting ill. This indicator is a widely accepted health measure and is called Self-rated health (SRH).
						SRH can help determine whether a person is likely to get sick as it is a collation of several aspects of health, such as mental, emotional, and physical.</p>
					</section>
				</div>
				<div class="4u 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color9 fa-desktop"></i>
						<h3>Sleep Problems</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ullam consequatur repellat debitis maxime.</p>
					</section>
				</div>
				<div class="4u$ 12u$(medium)">
					<section class="box">
						<i class="icon big rounded color6 fa-rocket"></i>
						<h3>Sickness Absence Risk</h3>
						<p>Managing sickness absence, be it on a small scale business or a large company, is crucial, as sickness absence poses a risk to any company. With a poor risk management, the business might suffer several losses. So, there is a need to assess and predict if a person has an over-risk of sickness absence, to ensure and provide a better risk management scheme, and to safeguard the welfare of the working people.</p>
					</section>
				</div>
			</div>
		</div>
	</section>

<!-- Three -->
	<section id="three" class="wrapper style3 special">
		<div class="container">
			<header class="major">
				<h2>Contact Us</h2>
				<p>We'll be glad to hear from you</p>
			</header>
		</div>
		<div class="container 50%">
			<form>
				<div class="row uniform">
					<div class="6u 12u$(small)">
						<input name="name" id="name" value="" placeholder="Name" type="text">
					</div>
					<div class="6u$ 12u$(small)">
						<input name="email" id="email" value="" placeholder="Email" type="email">
					</div>
					<div class="12u$">
						<textarea name="message" id="message" placeholder="Message" rows="6"></textarea>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input value="Send Message" class="special big" type="submit"></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</section>
{% endblock %}